---
swagger: "2.0"
info:
  description: "Auth token provider"
  version: "v1"
  title: "CVTool Auth API"
host: "kingpick-auth-api.endpoints.ciandt-cognitive-sandbox.cloud.goog"
basePath: "/v1/auth"
tags:
- name: "auth"
  description: "Access tokens management"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /token:
    get:
      tags:
      - "auth"
      description: "Generate a new authentication token"
      operationId: "token"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Cvtool access token"
          schema:
            type: "string"
      security:
      - google_id_token: []
      x-swagger-router-controller: "kingpick_auth.controllers.auth_controller"
  /tokeninfo:
    get:
      tags:
      - "auth"
      description: "Protected resource"
      operationId: "tokeninfo"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Authentication info."
          schema:
            $ref: "#/definitions/AuthInfoResponse"
      security:
      - cvtool_token: []
      x-swagger-router-controller: "kingpick_auth.controllers.auth_controller"
securityDefinitions:
  google_id_token:
    type: "oauth2"
    authorizationUrl: ""
    flow: "implicit"
    x-google-issuer: "accounts.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/oauth2/v1/certs"
    x-google-audiences: "764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com,1019062845561-ncr4dtvcshrrlg68nofsbmfnc7mf3g81.apps.googleusercontent.com"
  cvtool_token:
    type: "oauth2"
    authorizationUrl: ""
    flow: "implicit"
    x-google-issuer: "cvtool"
    x-google-jwks_uri: "https://storage.googleapis.com/ciandt-cognitive-sandbox.appspot.com/oauth2/v1/certs.json"
    x-google-audiences: "cli"
definitions:
  AuthInfoResponse:
    properties:
      id:
        type: "string"
      email:
        type: "string"
x-google-endpoints:
- name: "kingpick-auth-api.endpoints.ciandt-cognitive-sandbox.cloud.goog"
  allowCors: "true"
